services:
 nginx:
  image: nginx:latest
  container_name: nginx
  ports:
    - "8080:80"
  volumes:
    - .:/var/www/html
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  depends_on:
    - php-fpm
  networks:
    - app-network

 php-fpm:
   build: ./app
   container_name: php-fpm
   volumes:
    - .:/var/www/html
   working_dir: /var/www/html
   command: bash -c "chown -R www-data:www-data /var/www/html/writable && php-fpm"
   extra_hosts:
     - "host.docker.internal:host-gateway"
   networks:
    - app-network

networks:
 app-network:
   driver: bridge
