services:
 nginx:
  image: nginx:latest
  ports:
    - "8080:80"
  volumes:
    - ./app:/var/www/html
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  depends_on:
    - php-fpm
  networks:
    - app-network

 php-fpm:
   image: php-fpm:latest
   build: ./app
   container_name: php-fpm   
   volumes:
    - ./app:/var/www/html
   networks:
    - app-network

networks:
 app-network:
   driver: bridge
