services:
 nginx:
  image: nginx:latest
  container_name: nginx
  ports:
    - "8080:80"
  volumes:
    - .:/var/www/html
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  depends_on:
    - php-fpm
  networks:
    - app-network

 php-fpm:
   build: ./app
   container_name: php-fpm
   volumes:
    - .:/var/www/html
   working_dir: /var/www/html
   command: bash -c "chown -R www-data:www-data /var/www/html/writable && php-fpm"
   extra_hosts:
     - "host.docker.internal:host-gateway"
   depends_on:
     - mariadb
   networks:
     - app-network

 mariadb:
  image: mariadb:11.3
  container_name: mariadb
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: appdb
    MYSQL_USER: user
    MYSQL_PASSWORD: admin
  volumes:
    - db_data:/var/lib/mysql
    - ./sql:/docker-entrypoint-initdb.d
    - ./mariadb/my.cnf:/etc/mysql/conf.d/my.cnf
  networks:
    - app-network

 phpmyadmin:
  image: phpmyadmin:latest
  container_name: phpmyadmin
  restart: always
  depends_on:
    - mariadb
  ports:
    - "8081:80"
  environment:
    PMA_HOST: mariadb
    PMA_USER: user
    PMA_PASSWORD: admin
    UPLOAD_LIMIT: 50M
  networks:
    - app-network

networks:
 app-network:
   driver: bridge

volumes:
   db_data:
